a:hover {
    cursor:pointer;
   }
.split {
    margin-bottom: 10px;
}
.left {
position: relative;
width: 50%;
float: left;
height: 100%;
}

.right {
position: relative;
width: 50%;
float: left;
height: 100%;
}